.collar_wrap{
    position: absolute;
    z-index: 7;
    top: 36px;
    right: 274px;
}

.shirt_wrap{
    position: absolute;
    z-index: 2;
    top: 57px;
    left: 252px;
}

.sleeves_wrap{
    position: absolute;
    z-index: 5;
    top: 86px;
    left: 235px;
}

/* @media screen and (min-width: 320px) {
    .sleeves_wrap {
        position: absolute;
        z-index: 5;
        top: 87px;
        left: -14.7px;
        right: -62px;
    }

    .shirt_wrap {
        position: absolute;
        z-index: 2;
        top: 67px;
        right: -53px;
        left: -27px;
    }

    .collar_wrap {
        position: absolute;
        z-index: 7;
        top: 50px;
        right: 47px;
    }
} */