.collar_wrap{
    position: absolute;
    z-index: 7;
    top: 136px;
    right: 274px;
}

.shirt_wrap{
    position: absolute;
    z-index: 2;
    top: 157px;
    left: 55px;
}

.sleeves_wrap{
    position: absolute;
    z-index: 5;
    top: 186px;
    left: 35.3px;
}