/* .App {
    height: 100%;
    display: flex;
    color: rgba(189, 189, 192, 1);
} */

header{
    width: 100%;
    height: 10vh;
    background-color: #007b7e;
    line-height: 6rem;
    color: white;
    opacity: 0.9;
    padding: 0 20px;
    font-size: 30px;
    font-family: cursive
}

section {
    width: 30%;
    height: 90vh;
    overflow-x: hidden;
    background-color: #f3f3f3;
    color: rgb(17, 14, 14); 
    overflow-y: scroll
}

main {
    width: -webkit-fill-available;
    height: 90vh;
    float: left;
    overflow-y: scroll
}

.overlay {
    height: 100vh;
    background-color: black;
    width: 70%;
    float: right;
    position: static;
    visibility: hidden;
    
}

.card > div {
    background-color: white;
    height: 70px;
    width: 70px;
    border: 1px solid darkgrey;
}


.card {
    padding: 7px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid darkgrey;
cursor: pointer;
}


.card:hover {
    background-color: darkgrey;
    color: white
}

.card > p {
margin-left: 30px;
line-height: 40px
}

.reveal {
    background-color: white;
    width: 23vw;
    margin-left: -16.8vw;
    height: 90vh;
    position: absolute;
    padding: 10px;
    border-left: 1px solid grey;
}

.revealAll{
    display: inline-flex;
}

.revealSleeve{
    display: inline-flex;
    width: 80%;
}

.collar_design{
    position: absolute;
    left: 754px;
    margin-top: 72px;
    z-index: 5;
}

.collar_image{
    width: 55%;
}

/* WHITE COLLAR STYLE */
.white_collar_image3{
    width: 48%;
    margin-left: -8px;
    margin-top: -5.8px;
}

.collar_image3{
    width: 55%;
    margin-left: 3px;
    margin-top: 6.8px;
}

.semi_header {
    text-align: center;
    height: auto;
    background-color: #b43937;
    color: white;
    word-spacing: 50px;
    padding: 10px
}

.collar_image_side{
    width: 58%;
    cursor: pointer;
    height: inherit;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.ankara-icon{
    width: 58%;
    cursor: pointer;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}
.collar_image_side1{
    width: 20%;
    cursor: pointer;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 5px 1px;
}

.collar_image_side2{

    width: 40%;
    height: inherit;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.back_image_side{
    width: 40%;
    cursor: pointer;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.collar_image_side:hover{
    box-shadow: 2px 2px 1px;
}

.back_image_side:hover{
    box-shadow: 2px 2px 1px;
}

.collar_container{
    display: grid;
    grid-template-columns: auto auto auto
}

.shirt-side{
    width: 50%;
    cursor: pointer;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.shirt-sideW{
    width: 30%;
    cursor: pointer;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.shirt_design{
    position: absolute;
    left: 680px;
    margin-top: 100px;
}

.back_shirt_design{
    position: absolute;
    left: 680px;
    margin-top: 100px;
    z-index: 20
}

.shirt_image{
    width: 55%;
}

/* WHITE SHIRT DEMO */
.white_shirt_image{
    width: 56%;
    margin-left: 1px;
    position: relative;
    bottom: 45px;
    right: 50px;
}

.shirt_image1{
    width: 56%;
    margin-left: 1px;
    position: relative;
    bottom: 5px;
}

.back_shirt_image{
    width: 55%;
}


.shirt-container{
    display: grid;
    grid-template-columns: auto auto auto
}

.sleeves_design{
    position: absolute;
    left: 643px;
    margin-top: 137px;
}

.sleeves_image{
    width: 53.8%;
}

.sleeves_image1{
    width: 54%;
    margin-top: -2px;
    position: relative;
    left: 5px;
}

.white_sleeves_image{
    width: 70.8%;
    position: relative;
    bottom: 95px;
    right: 60px;
}

/* WHITE SLEEVE STYLE DEMO */
.white_sleeves_image{
    width: 70.8%;
    position: relative;
    bottom: 95px;
    right: 60px;
}



.back_sleeves_design{
    position: absolute;
    left: 653px;
    margin-top: 147px;
}

.cuff_image1{
    width: 14%;
    margin-top: 80px;
    /* margin-bottom: -8px */
    position: relative;
    left: 500px;
}

.cuff-side{
    width: 70%;
    cursor: pointer;
    outline: 1px solid;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.cuff-container{
    display: grid;
    grid-template-columns: auto auto auto
}

.sleeves-side{
    width: 70%;
    outline: 1px solid;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
    margin-right: 10px;
}

.sleeves-side1{
    width: 100%;
    outline: 1px solid;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}
.sleeves-side2{
    width: 25%;
    outline: 1px solid;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.sleeves-side:hover{
    box-shadow: 2px 2px 1px;
}

.shirt-side:hover{
    box-shadow: 2px 2px 1px;
}

.shirt-container{
    display: grid;
    grid-template-columns: auto auto auto
}

.collarIcon{
    width: 70%;
    margin: 5px;
    margin-top: 15px;
    margin-left: 10px;

}

.details{
    margin-top: 15px;
}

.shirtIcon{
    height: 60px;
    margin-left: 7px;
}

.toggle-btn-front{
    margin-right: 435px;
    background-color: #b43937;
    color: white;
    border: none;
}

.toggle-btn-back{
    background-color: #b43937;
    color: white;
    border: none;
}


.toggle-btn{
    display: inherit;
    height: 40px;
    position: absolute;
    bottom: 250px;
    right: 265px;

}


.tooltiptext  {
   margin: 10px;
}

.tooltiptext :hover {
    cursor: pointer;
    color: #f4993b;
}
/* Show the tooltip text when you mouse over the tooltip container */
.collar_image_side:hover .tooltiptext {
    visibility: visible;
}

.revealBox {
    margin: 5px;
    width: 30%;
    height: 90px;
    display: flow-root;
}

.revealBox > div {
    background-color: white;
    width: 100%;
    height: 80%
}


.revealer {
    margin-left: -16.8vw;
    padding: 10px;
    /* top: 7.2pc; */
    background-color: white;
    width: 23%;
    height: 90vh;
    position: absolute;
    /* bottom: 15vh; */
    border-left: 1px solid grey
}

.arrow-close{
    float: right;
    cursor: pointer;
    color: grey;
    font-size: 25px;
    
}

.collar-display{
    width: 55%;
}

.collar-displayW{
    width: 45%;
    margin-left: -4px; 
    margin-top: -3.8px;
}

@media screen and (max-width: 500px) {
    .card {
        width: 70px;
        margin: auto;
        padding-top: 17px;
        display: block;
        /* overflow: hidden; */
    }

    .card > p {
        /* visibility: hidden;
        display: none */
        text-align: center;
        font-size: 0.8em;
        margin: 0;
        margin-top: -10px
    }

    .card > div {
        margin: auto;
        height: 50px;
        width: 50px
    }

    .mobile-section{
        display: inline-flex;
        margin: auto;
    }

    section {
        display: flex;
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 15vh;
    }
    header {
        position: fixed;
    }

.reveal {
    background-color: white;
    width: 100%;
    height: 25vh;
    position: absolute;
    border-bottom: 1px solid grey;
    border-left: none;
    bottom: 15vh;
    margin-left: 0;
}

.revealer {
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 15vh;
    border-left: none;
    border-bottom: 1px solid grey;
    display: inline-flex;
    margin-left: 0;
}

.shirt-sideW {
    width: 23%;
    cursor: pointer;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 3px;
    margin-top: 25px
}

.sleeves-side1 {
    width: 60%;
    outline: 1px solid;
    height: 42px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.revealSleeve {
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.arrow-close{
    cursor: pointer;
    color: grey;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 16px;
    
}

.ankara-icon {
    width: 50%;
    height: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 3px;
    margin-top: 30px;
    margin-left: -13px;
}

.tooltiptext1 {
    margin: 0px;
    margin-left: -12px;
}

.collar_design{
    position: absolute;
    left: 115px;
    margin-top: 80px;
    z-index: 5;
}
.collar-display{
    width: 33%
}

.collar_image{
    width: 35%;
}

.collar_image3{
    width: 31%;
    margin-left: 3px;
    margin-top: 6.8px;
}

.collar_image_side{
    width: 43%;
    cursor: pointer;
    height: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 3px;
}

.collar_image_side2 {
    width: 30%;
    height: inherit;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.collar-displayW {
    width: 28%;
    margin-left: 3px;
    margin-top: -0.8px;
}

.white_collar_image3 {
    width: 28%;
    margin-left: 3px;
    margin-top: -0.8px;
}
.collar_image_side1 {
    width: 30%;
    cursor: pointer;
    height: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 1px;
    margin-top: 25px;
}

.revealAll {
    display: inline-flex;
    text-align: center;
}   

.collar_image_side:hover{
    box-shadow: 2px 2px 1px;
}
.collar_container{
    display: grid;
    grid-template-columns: auto auto auto
}

.shirt-side{
    width: 30%;
    cursor: pointer;
    outline: 1px solid;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
}

.shirt_design{
    position: absolute;
    left: 80px;
    margin-top: 100px;
}

.shirt_image{
    width: 55%;
}

.shirt_image1{
    width: 56%;
    margin-left: 1px;
    position: relative;
    bottom: 5px;
}


.shirt-container{
    display: grid;
    grid-template-columns: auto auto auto
}

.sleeves_design{
    position: absolute;
    left: 100px;
    margin-top: 117px;
}

.sleeves_image{
    width: 75.8%;
    position: relative;
    left: -38px;
}

.sleeves_image1{
        width: 75%;
        margin-top: -2px;
        /* margin-bottom: -8px; */
        position: relative;
        left: -37px;
}

.sleeves-side{
    width: 70%;
    outline: 1px solid;
    height: 45px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
    margin-top: 38px;
}
.sleeves-side2 {
    width: 79%;
    outline: 1px solid;
    height: 45px;
    cursor: pointer;
    box-shadow: 2px 5px 3px;
    margin-top: 35px;
}

.white_sleeves_image {
    width: 94.8%;
    position: relative;
    bottom: 50px;
    right: 64px;
}

.toggle-btn-front {
    margin-right: 160px;
    background-color: #b43937;
    color: white;
    border: none;
}

.toggle-btn {
    display: inherit;
    height: 40px;
    position: absolute;
    bottom: 250px;
    right: 7px;
}

.sleeves-side:hover{
    box-shadow: 2px 2px 1px;
}

.shirt-side:hover{
    box-shadow: 2px 2px 1px;
}

.shirt-container{
    display: grid;
    grid-template-columns: auto auto auto
}

.collarIcon{
    width: 70%;
    margin: 5px;
    margin-top: 15px;
    margin-left: 10px;

}

.details{
    margin-top: 15px;
}

.shirtIcon{
    height: 60px;
    margin-left: 7px;
}
}

/*  Scrool bar styles */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555; 
    border-radius: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 

    
  }
  
